# Java class files
*.class

# Package files
*.jar
*.war
*.ear

# VS Code settings
.vscode/

# IntelliJ IDEA
.idea/
*.iml
out/

# Eclipse
.project
.classpath
.settings/
bin/

# MacOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Logs
*.log

# Build directories
build/
target/

# Temporary files
*.tmp
*.swp
*.bak


# Ignore OneDrive sync files
*.lnk

# Ignore layout / map files
layout_debug.txt